
.title{
    font-size: 30px;
    text-align: center;

}

p{
    font-size: 15px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.title h1{
    margin-bottom: 0px;
}

.nav-link ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;

}

.nav-link ul li{
    margin-right: 20px;
}

.nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
}

.nav-link ul li a:hover{
    background-color: #575757;
}

.nav-link ul li a:active{
    background-color: #04AA6D;
    color: white;
}

header{
    height: 200px;
}


footer{
    text-align: center;
}

footer ul{
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 12px;
}

footer ul li a{
    text-decoration: none;
    color: blue;
}

footer ul li a:hover{
    text-decoration: underline;
    color: red;
}

